Python Sets topic 19

In [1]:
#Example

myset = {"apple", "banana", "cherry"}

In [2]:
#Example

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [3]:
#Example

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
#Example

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [5]:
#Example

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [6]:
#Example

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
#Example

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}